#header {
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    float: left;
    width: 70%;
    box-shadow: 5px 5px 5px 5px gray;
    background-color: #d3d3d3;

}

#aside {
    float: left;
    width: 30%;
    border: 0px #96858F solid;
    background-color: #171769;
    box-shadow: 12px 12px 12px 12px gray
}

.aside_h1 {
    text-align: center;
    color: #bfbfbf;
    margin-left: 20px;
    margin-right: 20px;
}
#menu_fieldset {
    background-color: #dce0d9;
}

#logo {
    background-color: #E7DFDD;

}

body {
    background-color: #f2f2f2;
}

#menu_buttons {
    width: 60%;
    float: left;
    background-color: #dce0d9;

}

#footer_fieldset {
    background-color: #96858F;
}

#footer {
    margin-left: 200px;
    width: 78.9%;
    float: left;
    background-color: #96858F;

}

#main_aside{
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;

}


#search_and_btn {
    float: right;
    width: 30%;
}

#search_text {
    width: 100%;
}

#new_posts_p {
    width: 1000px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 13px;
    padding-bottom: 7px;
    height: 46px;

}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #374049
}

#popular_posts_p {
    width: 400px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 21.5px;
    height: 95px;
}

#search {
    float: left;
    width: 75%
}

#search_btn {
    float: left;
    width: 25%;
}

#newsletter {
    text-align: center;
}

#news_input {
    text-align: center;
    margin-bottom: 20px;
}

#submit_btn {
    margin-bottom: 10px;
}

#a_href {
    font-family: 'Times New Roman', Times, sans-serif;
    font-style: inherit;
}



#foot_p {
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#social_btns {
    text-align: center;
    margin: 30px;
    margin-bottom: 36.5px;
    padding-bottom: 0px;

}

#post_h1 {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #d3d3d3;

}

#popular_posts_h1 {
    background-color: #171769;
    padding-bottom: 2px;
}

#p_content {
    font-size: 22px;
    margin: 50px;
}
#p_main {
    float: left;
    width: 100%;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #dce0d9;
    height: 1000px;

}
#footer_12 {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #96858F;

}
.href {
    text-align: center;
}

#visit_counter {
    font-size: 0px;
}

#main_category_view {
    width: 100%;
    border: 2px #96858F solid;
    background-color: #dce0d9;
}

#footer_category {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #96858F;
}

hr {
    text-align: center;
    width: 60%;
}

