#header {
    width: 78.9%;
    margin-left: 198px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    float: left;
    width: 70%;
    box-shadow: 10px 10px 60px 3px gray;
    background-color: #d3d3d3;

}

#aside {
    float: left;
    width: 30%;
    border: 0px #96858F solid;
    background-color: #374049;
    box-shadow: 10px 10px 60px 3px gray;
}

.aside_h1 {
    text-align: center;
    color: #d3d3d3;
    margin-left: 20px;
    margin-right: 20px;
}
#menu_fieldset {
    background-color: #dce0d9;
}

#menu_btn_search {
    padding-top: 7px;
    padding-bottom: 43px;
    padding-left: 3px;
    padding-right: 0px;
    width: 99.78%;
    border-top: 2px solid gray;
    background-color: gray;

}

#logo {
    background-color: #374049;
}

body {
    background-color: #f2f2f2;
}

#menu_buttons {
    width: 70%;
    float: left;
    background-color: gray;
}

#footer_fieldset {
    background-color: #96858F;
}

#footer {
    margin-left: 200px;
    width: 78.9%;
    float: left;
    background-color: #96858F;
    box-shadow: 10px 10px 60px 1px gray;

}

#main_aside{
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;

}


#search_and_btn {
    float: right;
    width: 30%;
    background-color: gray;


}

#search_text {
    width: 100%;
    height: 30px;
}

#new_posts_p {
    width: 980px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 13px;
    padding-bottom: 7px;
    height: 46px;
    padding-left: 20px;

}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #374049
}

#popular_posts_p {
    width: 400px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 21.5px;
    height: 95px;
}

#search {
    float: left;
    width: 75%
}

#search_btn {
    float: left;
    width: 25%;
}

#newsletter {
    text-align: center;
}

#news_input {
    text-align: center;
    margin-bottom: 20px;
}

#submit_btn {
    margin-bottom: 10px;
}

#a_href {
    font-family: 'Times New Roman', Times, sans-serif;
    font-style: inherit;
}



#foot_p {
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#social_btns {
    text-align: center;
    margin: 30px;
    margin-bottom: 36.5px;
    padding-bottom: 0px;

}

#post_h1 {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #d3d3d3;

}

#popular_posts_h1 {
    background-color: #374049;
    padding-bottom: 2px;
}

#p_content {
    font-size: 22px;
    margin: 50px;
}
#p_main {
    float: left;
    width: 100%;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #dce0d9;
    height: 1000px;

}
#footer_12 {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #96858F;

}
.href {
    text-align: center;
}

#visit_counter {
    font-size: 0px;
}

#main_category_view {
    width: 100%;
    border: 2px #96858F solid;
    background-color: #dce0d9;
}

#footer_category {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: 2px #96858F solid;
    border-top: 2px #96858F solid;
    border-left: 2px #96858F solid;
    border-bottom: 2px #96858F solid;
    background-color: #96858F;
}

hr {
    text-align: center;
    width: 60%;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #91b8b3;
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #374049));
	background:-moz-linear-gradient(top, #768d87 5%, #374049 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #374049 100%);
	background:-o-linear-gradient(top, #768d87 5%, #374049 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #374049 100%);
	background:linear-gradient(to bottom, #768d87 5%, #374049 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#374049;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #374049;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}


      
      