<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title> Blog </title>
        <meta charset="utf-8">
        <link rel = "stylesheet" type = "text/css" href="{% static 'css/main1.css' %}">
    </head>
    <body>
        <div id = "header">
            <fieldset id = "menu_fieldset">
            <div id = "logo">
                <img src = "{% static 'images/loremipsum-logo.png' %}" alt = "logo" id = "logo">
                <hr>
            </div>
            <div id = "menu_buttons">
                <a href = "http://127.0.0.1:8000/index/"}><input type = "Button" value = "Home" name = "Menu1"></a>
                <a href = "http://127.0.0.1:8000/index/world"}><input type = "Button" value = "World" name = "Menu1"></a>
                <a href = "http://127.0.0.1:8000/index/economy"}><input type = "Button" value = "Economy" name = "Menu1"></a>
                <a href = "http://127.0.0.1:8000/index/market"}><input type = "Button" value = "Markets" name = "Menu1"> </a>
            </div>
            <div id = "search_and_btn">
                <div id = "search">
                    <input type = "search" placeholder="Search the site..." id = "search_text">
                </div>
                <div id = "search_btn">
                    <input type = "button" value = search>
                </div>
            </div>
            </div>
            </fieldset>
            <div id = "main_aside">
            <div id = "main">
                <div id = "post_h1">
                <h1 id = "new_posts_h1"> New Posts </h1>
                <hr>
                </div>
                {%for post in posty%}
                <div id = "{{post.id}}">
                    {% if forloop.counter == 4 or forloop.counter == 3 or forloop.counter == 2 or forloop.counter == 1 or forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 7 %}
                    {% if forloop.counter == 4 or forloop.counter == 3 or forloop.counter == 2 or forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 7 %}         
                        <hr>
                    {% endif %}
                    <h3> {{post.post_title}}</h3>
                    <p id = "new_posts_p">
                        {{post.content}}
                    </p>
                    <a href="http://127.0.0.1:8000/index/{{post.id}}"><h4> Czytaj Dalej! </h4></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div id = "aside">
                <div id = "popular_posts_h1">
                <h1 class = "aside_h1"> Popular Posts </h1>
                </div>
                {% for post in popularne_posty %}
                <div id = "{{ post.id }}">
                    {% if forloop.counter == 4 or forloop.counter == 3 or forloop.counter == 2 or forloop.counter == 1 %}
                        <hr>
                        <h3 class = "aside_h1"> {{ post.post_title }} </h3> 
                        <p id = "popular_posts_p" class = "aside_h1">
                            {{ post.content }}
                        </p>
                        <a href="http://127.0.0.1:8000/index/{{post.id}}"><h4 class = "aside_h1"> Czytaj Dalej! </h4></a>
                    {% endif %}
                </div>
                {% endfor %}
                <div id = "newsletter">
                    <hr>
                    <h1 class = "aside_h1"> Newsletter </h1>
                    <div id = "email">
                    <input type="text" placeholder=" email " name = "newsletter_input" id = "news_input">
                    </div>
                    <div id = "submit_btn">
                    <input type = "submit" value = "Send!" id = "submit_btn">
                    </div>
                </div>
                <div id = "social_btns">
                    <fieldset>
                        <a href = "https://www.facebook.com/" target="_blank"><input type = "button" value = "FB" name = "FB"></a>
                        <a href = "https://www.youtube.com" target="_blank"><input type = "button" value = "YT" name = "YT"></a>
                        <a href = "https://twitter.com" target="_blank"><input type = "button" value = "TT" name = "TT"></a>
                    </fieldset>
                </div>
            </div>
            </div>
            <div id = "footer">
                <p id = "foot_p"> Consectetur aliqua nulla in quis incididunt elit nulla laborum excepteur. Esse sit ea irure esse consequat reprehenderit proident. Incididunt excepteur dolor esse labore Lorem id ex exercitation ullamco.</p>
            </div>
    </body>
</html>